.center {
    text-align: center;
}
.big-text {
    font-size: 3rem;
    padding-top: 15rem;
    color: orange;
}
.medium-text {
    padding: 0 18rem 2rem 18rem;
}

.gallery {
    padding-top: 5rem;
}
.gallery__img {
    max-width: 50%;
}