.center {
    text-align: center;
}
.big-text {
    font-size: 3rem;
    padding-top: 15rem;
    color: orange;
}
.medium-text {
    padding: 0 18rem 2rem 18rem;
}

.rooms__cards {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: 1fr;
    gap: 5rem;
}
.rooms__card {
    background-color: rgb(223, 247, 255);
    padding: 0.5rem;
}
.rooms__img {
    height: 19rem;
    width: 19rem;
    position: relative;
}
.rooms__guests {
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 1000;
    margin-top: -4rem;
    padding-left: 1rem;
}
.rooms__size {
    position: absolute;
    color: white;
    padding-left: 15rem;
    font-weight: bold;
    margin-top: -4rem;
}
.rooms__price {
    margin-top: -2rem;
    background-color: rgb(0, 102, 255);
    color: white;
    margin-left: 16rem;
    border-radius: 0.2rem;
    padding-left: 0.3rem;
}